<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developerfromjokela.motioneyeclient">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".ui.activities.MovieView"
            android:label="@string/title_activity_movie_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activities.DeviceSettings"
            android:label="@string/title_activity_device_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.FullCameraViewer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_camera_viewer" />
        <activity
            android:name=".ui.activities.CameraViewer"
            android:label="@string/title_activity_camera_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.setup.activities.SetupStartScreen"
            android:label="@string/title_activity_setup_start_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>